<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="registerForm" name="registerForm" [formGroup]="postData" (ngSubmit)="register()">
    <ion-label>Email Address</ion-label>
    <ion-input id="email" name="email" type="email" formControlName="email"></ion-input>
    <ion-label>Password</ion-label>
    <ion-input id="password" name="password" type="password" formControlName="password"></ion-input>
      <ion-button id="registerBtn" name="registerBtn" type="submit">Register</ion-button>
  </form>
</ion-content>
