<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title size="large">Group : {{ group.key }} </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="small">Description : {{ group.value }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-sign-out></app-sign-out>
<app-navigation-menu-btn></app-navigation-menu-btn>
<ion-button id="createTaskBtn" name="createTaskBtn" (click)="createTask()" color="primary" expand="block">Create Task</ion-button>
<app-leave-group-btn></app-leave-group-btn>

<h1>Tasks</h1>
<ion-list *ngFor="let dataItem of data | keyvalue">
  <ion-item-divider>Task name : {{ dataItem.value.taskName }}</ion-item-divider>
  <ion-item-divider>Task description : {{ dataItem.value.taskDescription }}</ion-item-divider>
  <ion-item-divider>Task type : {{ dataItem.value.taskType }}</ion-item-divider>
  <ion-item-divider>Date and time of event : {{ dataItem.value.dateTimeOfEvent }}</ion-item-divider>

  <ion-item-divider class="ion-padding" *ngIf="group.administration != null">
  <ion-button color="danger" (click)="deleteDeactivateTask(dataItem.value.taskName)">Delete</ion-button>
</ion-item-divider>
</ion-list>

<ion-text *ngIf="group.requestsToLeave != null">
  <h1>Requests to leave group</h1>

  <ion-list *ngFor="let groupRequest of requestToLeaveData">
    <ion-item>Requested by : <b>{{ groupRequest }}</b></ion-item>
    <ion-item-divider>
    <ion-button color="danger" (click)="requestsToLeaveVerdict('grant', groupRequest)">Grant Request</ion-button>
    <ion-button color="danger" (click)="requestsToLeaveVerdict('deny', groupRequest)">Deny Request</ion-button>
  </ion-item-divider>
  </ion-list>
</ion-text>

<form id="addMember" name="addMember" [formGroup]="formData" (ngSubmit)="addMember()">
<ion-item>
  <h1>Add group member</h1>
  <ion-searchbar autocomplete="on" formControlName="chosenUser" (ionChange)="getStaff($event)"></ion-searchbar>
</ion-item>
<ion-button id="addMemberBtn" name="addMemberBtn" type="submit" class="ion-padding">Add member</ion-button>
</form>
</ion-content>
