<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Name: {{ group.key }} Details</ion-title>
    Description:{{ group.value }}
  </ion-toolbar>
</ion-header>

<ion-content>

<app-sign-out></app-sign-out>
<ion-button id="createTaskBtn" name="createTaskBtn" (click)="createTask()" color="primary" expand="block">Create Task</ion-button>
<app-leave-group-btn></app-leave-group-btn>

<ion-item *ngFor="let dataItem of data | keyvalue">{{ dataItem.value.taskName }} : {{ dataItem.value.taskDescription }} : {{ dataItem.value.taskType }} : {{ dataItem.value.dateTimeOfEvent }}
  <ion-item *ngIf="group.administration != null">
  <ion-button (click)="deleteDeactivateTask(dataItem.value.taskName)">Delete</ion-button>
</ion-item>
</ion-item>

</ion-content>
