<ion-header>
  <ion-toolbar>
    <ion-title>Communication</ion-title>
  </ion-toolbar>
  <ion-back-button></ion-back-button>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inbox">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sent">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Sent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drafts">
      <ion-icon name="square"></ion-icon>
      <ion-label>Drafts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>