<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form id="loginForm" name="loginForm" [formGroup]="postData" (ngSubmit)="loginEmailAndPassword()">
    <ion-item>
    <ion-input id="email" name="email" type="email" formControlName="email" placeholder="Email Address" class="ion-text-center"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input id="password" name="password" type="password" formControlName="password" placeholder="Password" class="ion-text-center"></ion-input>
  </ion-item>
      <ion-button id="loginBtn" name="loginBtn" type="submit" color="primary" expand="block">Sign In</ion-button>
      <ion-router-link color="secondary" (click)="navigateToPage('register')">Register</ion-router-link>
      <ion-router-link color="danger" (click)="navigateToPage('forgot-password')">Forgot Password</ion-router-link>
  </form>

  <ion-button id="googleSignin" name="googleSignin" (click)="loginwithGoogle()">Sign into Google account</ion-button>

</ion-content>
