<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="forgotPasswordForm" name="forgotPasswordForm" [formGroup]="postData" (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-input id="email" name="email" type="email" formControlName="email" placeholder="Email Address" class="ion-text-center"></ion-input>
    </ion-item>
    <ion-button id="resetPasswordBtn" name="resetPasswordBtn" type="submit" color="primary" expand="block">Reset Password</ion-button>
    <ion-router-link color="secondary" (click)="navigateToPage('login')">Login</ion-router-link>
      <ion-router-link color="danger" (click)="navigateToPage('register')">Register</ion-router-link>
  </form>
</ion-content>
