rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  // FOR DEVELOPMENT PURPOSES ONLY
    match /{document=**} {
      allow read, write;
    }
  }
}