<ion-header>
  <ion-toolbar>
    <ion-title>drafts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-compose-btn></app-compose-btn>
  <ion-list *ngFor="let dataItem of data | keyvalue" (click)="replyMessage(dataItem.value.payload.headers[3].value,
                                                                          dataItem.value.payload.headers[2].value,
                                                                          dataItem.value.payload.headers[5].value)">
    <ion-item>{{ dataItem.value.payload.headers[3].name }} : {{ dataItem.value.payload.headers[3].value }}</ion-item>
    <ion-item>{{ dataItem.value.payload.headers[2].name }} : {{ dataItem.value.payload.headers[2].value }}</ion-item>
    <ion-item>{{ dataItem.value.payload.headers[5].name }} : {{ dataItem.value.payload.headers[5].value }}</ion-item>
    <ion-item>{{ dataItem.value.snippet }} : {{ snippet }}</ion-item>
  </ion-list>

</ion-content>
