<ion-header>
  <ion-toolbar>
    <ion-title>create-credential</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="createCredentials" name="createCredentials" [formGroup]="postData" (ngSubmit)="create()">
    <ion-input id="test" formControlName="chosenKey" placeholder="Identifier" class="ion-text-center"></ion-input>
    <ion-input id="password" formControlName="chosenValue" placeholder="Value" class="ion-text-center"></ion-input>
    <ion-button id="createCredentialsBtn" type="submit" expand="block" color="primary">Create credential</ion-button>
  </form>
</ion-content>
